@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>➕ Yeni Oyun Ekle</h2>

<form method="post">

    <input name="OyunAdi" class="form-control mb-2" placeholder="Oyun adı" />

    <input name="Fiyat" class="form-control mb-2" placeholder="Fiyat" />

    <input name="ResimUrl" class="form-control mb-2" placeholder="Resim URL" />

    <button class="btn btn-success w-100">
        Kaydet
    </button>

</form>