@model List<BelediyeSikayet.Models.ViewModel.RaporViewModel>

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>📂 Kategori Dağılımı</h3>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Kategori</th>
            <th>Şikayet Sayısı</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.AdSoyad</td>
                <td>@item.Sayi</td>
            </tr>
        }
    </tbody>
</table>