@model IEnumerable<VehicleType>

<div class="container">
    <div class="row">
        <div class="col-6">
            <h2>VehicleType List</h2>
        </div>
        <div class="col-6">
            <a asp-controller="VehicleType" asp-action="Create" class="btn btn-primary ">
                <span>Yeni  Araç Tipi</span>
            </a>
        </div>
    </div>
    <div class="row">

        <table class="table table-bordered table-striped my-2">
            <thead>
                <tr>
                    <th>
                        Araç Name
                    </th>
                    <th>
                        Açıklama
                    </th>
                </tr>
            </thead>

            <tbody>

                @foreach (var vehicleType in Model)
                {
                    <tr>
                        <td>@vehicleType.TypeName</td>
                        <td>@vehicleType.Explanation</td>
                        <td>
                            <a asp-controller="VehicleType" asp-action="Edit" asp-route-id="@vehicleType.Id" class="btn btn-primary">
                                Edit
                            </a>

                            <a asp-controller="VehicleType" asp-action="Delete" asp-route-id="@vehicleType.Id" class="btn btn-danger">
                                Delete
                            </a>

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>