@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>➕ Müşteri Ekle</h2>

<form method="post">

    <input name="AdSoyad" class="form-control mb-2" placeholder="Ad Soyad" />
    <input name="Email" class="form-control mb-2" placeholder="Email" />
    <input name="Telefon" class="form-control mb-2" placeholder="Telefon" />

    <button class="btn btn-success w-100">
        Kaydet
    </button>

</form>